.evento {
    padding: 80 0;
    font-family: "Roboto", serif;

    &--image-left {
        
        .container {
            flex-direction: row-reverse;
        }
    }
    .container {
        display: flex;
        gap: 40px;
    }
    

    &__item {
        color: #fff;

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__imagem {
            max-width: 360px;
        }
    }
}