@use 'header';
@use 'presente';
@use 'infos-bar';
@use 'evento';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: #69BAE8;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.text {
    font-family: "Pacifico", cursive;
}

@font-face {
    font-family: 'happy';
    src: url('/font/Silver\ Christmas\ -\ Personal\ Use.otf');
}